html * {
    
    box-sizing: border-box;
    
}

*:before, *:after{
    
    box-sizing: border-box;
}

@media screen 
  and (min-device-width: 900px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      
          
}

@media screen 
  and (min-device-width: 200px) 
  and (max-device-width: 700px) 
{
    p.hourly {
        display: none;
    }
}

     

@media screen 
  and (min-device-width: 200px) 
  and (max-device-width: 700px) {
    .tabletframe{
        
        display: none;
        

    }
    .webframe{
        
        display: none;
        
    }


}


     
@media screen  
  and (min-device-width: 700px) 
  and (max-device-width: 1000px) 
{
    .mobileframe{
        
        display: none;
                

    }
    .webframe{
        
        display: none;
               

    }


}
      
@media screen and (min-device-width: 1100px) {
    .mobileframe{
        
        display: none;

    }
    .tabletframe{
        
        display: none;

    }


}

.webframe
{
    
    
}
p.hourly
{
    
    margin-left: 30em;
    margin-right: 30em;
    min-width: 10em;

}

.temp
{
    font-family: monospace;
    font-size: 30px;
 
    
}
.hourly
{
    text-align: center;
    font-family: monospace;
    font-size: 20px;

    
}
.container
{
    display: flex;
    min-height:600px;    
    flex-direction: column;
    align-items: center;
    border:5px solid #333;
    margin:50px auto;
    background: #FFF8DC;
    width: 80%;
    max-width: 500px;
    min-width: 300px;
    padding:40px 20px;
    
    
}

.header = "page-header"
{
    
   text-align: center;

    
}

#page-nav
{
    
    min-height: 5px;    
    flex-direction: column;
    text-align: center;
    border:5px solid #333;
    margin:50px auto;
    background: #FFF8DC;
    margin-bottom: -25px;
    max-width: px;
    min-width: 25px;
    padding:4px 2px;
    
}
p.link
{
    
   text-align: center; 
}

.box2
{
    font-size: 50px;
    font-family: monospace
    
}
body
{
      font-family:avenir;
      background-color: #73ADFF;
      
}	

.wrapper
{
    
    text-align: center;
    
}
footer
{
    text-align: right;
    
}