html * {
    
    box-sizing: border-box;
    
}

*:before, *:after{
    
    box-sizing: border-box;
}

.heading
{
    font-size: 35px;
    font-family: sans-serif;
    
}

body
{
    
    background-color: darkseagreen;
    
}